############################################################
  환경: {{ environment | upper }}
  프로젝트: {{ project }}
  관리자: {{ owner }}
  관리 도구: {{ managed_by }}
############################################################
  이 시스템은 인가된 사용자만 접근 가능합니다.
  모든 접속 기록은 감사 로그에 저장됩니다.
############################################################
