# =============================================================
# ulimit 설정 템플릿
# =============================================================

# 파일 디스크립터 제한
* soft nofile {{ ulimit_nofile_soft }}
* hard nofile {{ ulimit_nofile_hard }}

# 프로세스 수 제한
* soft nproc  65535
* hard nproc  65535
